/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* style for UI  */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    letter-spacing: 5px;
    font-weight: 600;
}
.input-bgColor{
    background-color: rgb(224, 224, 224);
}
.input-bgColor:focus{
    background-color:rgba(190, 188, 188,.3);
}
.input-bgColor::placeholder{
    color: rgba(0, 0, 0, 0.623);
}
